body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  margin: 2rem auto;
  width: 80%;
  max-width: 600px;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

main.fw {
  width: 90%;
  max-width: 90%;
}

main ul {
  text-align: left;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
}

#output {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.controls {
    display: inline-block;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.custom-code {
    display: inline-block;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

#customCodeContainer {
    text-align: left;
    margin-top: 1rem;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}