{
    auto_https off
}

localhost:80 {
    root * .
    file_server browse

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
        Access-Control-Allow-Credentials false
        Cross-Origin-Opener-Policy same-origin
        Cross-Origin-Embedder-Policy require-corp
        # Force le revalidation du cache
        Cache-Control "no-store, no-cache, private, must-revalidate, proxy-revalidate"
        Pragma "no-cache"
        Expires "0"
        Last-Modified "{http.time.now}"  
    }
    @staticFiles {
        path *.html *.js *.css
    }
    header @staticFiles Cache-Control "max-age=0, must-revalidate"
}

